.simcontainer {
	background-color: rgb(217, 226, 234);
	padding: 10px;
}

.col50 {
	width: 49%;
	display: inline-block;
	padding: 2px 0;
	margin: 10px 0;
}

.box-resultado {
	background-color: #ffffff;
	width: 20%;
	padding: 2px 20px;
	margin: 10px 0;
	display: inline-block;
	height: 28px;
}